 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do List</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
        <link rel="preload" href="{{ url_for('static', filename='assets/logo.webp') }}" as="image">
        <script src="../static/scripts/scripts.js" defer></script>
    </head>
    <body>
        <header>
            <div id="navigation">

        <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

                <nav>


                    <ul>
                        <li><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)">Contact Us</a>
                            <div class="dropdown-content">
                                <a href="mailto:eklausner@mail.valenciacollege.edu">eklausner@mail.valenciacollege.edu</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>
        <div class="container">
            <div class="section">
                <div class="input">
                    <h1 style="margin-bottom: 0;">CloudTask Pro</h1>
                    <p style="margin-top: 0;">Streamline your studies and elevate your efficiency.</p>
                    <img src="{{ url_for('static', filename='assets/logo.webp') }}" alt="logo image" style="width: 35%;">
                    <h3>BEGIN NOW</h3>
                    <form action="/add_task" method="post">
                        <input type="text" name="task" placeholder="Enter a task" required>
                        <input type="date" name="due_date" placeholder="Due Date" required>
                        <label for="due_date">Due Date</label>
                        <button type="submit">Add</button>
                    </form>

                    <ul>
                        {% for task, due_date in tasks %}
                            <li>
                                {{ task }} - Due Date - <span class="due-date">{{ due_date.strftime('%m/%d/%Y') if due_date else 'No date' }}</span>
                                <form action="/delete_task" method="post" style="display: inline;">
                                    <input type="hidden" name="task_index" value="{{ loop.index }}">
                                    <button type="submit">&#10003;</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="section">
                <h2>What is CloudTask Pro?</h2>
                <p>CloudTask Pro is an innovative task management tool designed specifically for the modern student. In today's fast-paced academic environment, staying organized and on top of your studies is crucial. CloudTask Pro simplifies this process, offering a smart, intuitive platform that integrates all your academic tasks in one place. It's more than just a to-do list. It's your personal academic assistant, helping you manage deadlines, track your progress, and stay ahead of your schedule.</p>
                <h3>Features:</h3>
                <ul>
                    <li><strong>Sort by Due Date:</strong> Automatically arranges tasks by their due dates, allowing efficient task prioritization and deadline management.
                    </li>
                    <li><strong>Daily Task Summary:</strong> Provides a clear summary of upcoming tasks and deadlines, with an optional feature to send reminders via a notification system.
                        <label class="switch">
                            <input type="checkbox" id="notificationToggle"> <!-- add 'checked' to tag to set 'on' default -->
                            <span class="slider round"></span>
                        </label>Notifications
                    </li>
                    <li><strong>Task Completion Statistics:</strong> Displays insightful statistics on completed versus pending tasks, offering a clear view of productivity and task management over various timeframes.
                    </li>
                </ul>
                <div class="stats" style="text-align: left">
                    <h2>Your Personalized Task Statistics</h2>
                    <ul>
                        <li><p>Number of tasks completed in the last month: <span style="font-weight: bold;">{{ stats.completed_last_week }}</span></p></li>
                        <li><p>Percentage of completed tasks in the last month: <span style="font-weight: bold;"> {{ stats.completion_percentage_week|round(2) }}% </span></p></li>
                        <li><p>Number of tasks completed in the last month: <span style="font-weight: bold;"> {{ stats.completed_last_month }} </span></p></li>
                        <li><p>Percentage of completed tasks in the last month: <span style="font-weight: bold;"> {{ stats.completion_percentage_month|round(2) }}% </span></p></li>
                        <li><p>Average completion time: <span style="font-weight: bold;"> {{ stats.average_completion_time }} days </span></p></li>
                    </ul>
                </div>
            </div>
            <div class="section">

                <div class="visual" style="text-align: center;">
                    <h2 >Visualize Your Progress</h2>
                    <img  src="{{ pie_chart_image }}" alt="Pie Chart" style="width: 400px; height: auto;">
                    <img style="margin-top: -50px;" src="{{ trend_line_graph_path }}" alt="Trend Line Graph">
                </div>
            </div>
        </div>
    </body>
</html>

