body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4ecf0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding-top: 50px; 
}

/* Optimize image loading*/
/* For desktops and laptops */
@media (max-width: 1024px) {
    img {
        width: 50%;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    img {
        width: 50%;
    }
}

/* For mobile phones */
@media (max-width: 767px) {
    img {
        width: 70%;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #005f73;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 40px;
}

nav {
    display: flex;
    justify-content: center;

    align-items: center;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: flex;
    align-items: center;

    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.dropdown-content a {
    color: #005f73; 
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    text-decoration: underline !important; /* Forces underline on hover */
    color: #e76f51 !important;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005f73;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; 
}

.section {
    flex: 1; 
    padding: 10px;
    box-sizing: border-box; 
}

.input {
    margin-left: 5px;
}

button[type="submit"] {
    padding: 10px 20px; 
    border-radius: 10px; 
    background-color: red; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: inherit; 
    transition: transform 0.2s; 
    vertical-align: middle;
    margin-bottom: 10px;
}

button[type="submit"]:active {
    transform: scale(0.95); /* scale down the button slightly when active */
}

.stats {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25.5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* The switch when toggled on */
.switch input:checked + .slider {
    background-color: red;
}

.switch input:checked + .slider:before {
    transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25.5px;
}

.slider.round:before {
    border-radius: 50%;
}


.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.popup .close {
    float: right;
    cursor: pointer;
}

.popup h2 {
    margin-top: 0;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

/* Mobile Optimization - Responsive Design -------------------------------------------------- */


@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .section {
        margin: 10px 0;
    }

    nav ul li {
        margin: 5px;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    button[type="submit"] {
        padding: 8px 16px;
    }
}


/* Make images flexible */
img {
    max-width: 100%;
    height: auto;
}

/* Adjust button and link sizes for easier tapping
button[type="submit"], nav ul li a {
    padding: 10px;
} */


/* Hamburger Menu */
/* Base and layout styles */
#navigation nav ul,
#navigation nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navigation nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.nav-toggle {
    display: none; /* Checkbox is always hidden */
}

.nav-toggle-label {
    display: none; /* Hamburger icon label is hidden by default */
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: none; /* Initially hide the hamburger icon components */
}


/* Hamburger icon styling */
@media (max-width: 600px) {
    .nav-toggle-label {
        display: block; /* Show hamburger icon at 600px or below */
        height: 40px;
        padding-top: 20px;
        margin-left: 5px;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: white; /* Icon color */
        height: 3px; /* Line thickness */
        width: 30px; /* Line width - default 100%*/
        position: absolute;
        transition: 0.3s;
    }

    .nav-toggle-label span {
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-toggle-label span::before {
        content: "";
        top: -10px;
    }

    .nav-toggle-label span::after {
        content: "";
        top: 10px;
    }

    .nav-toggle:checked + .nav-toggle-label + nav ul,
    .nav-toggle:checked ~ nav ul {
        display: block;
    }

    nav ul {
        display: none; /* Hide menu by default */
        position: absolute;
        background-color: #005f73; /* Adjust menu background as needed */
        top: 60px; /* Adjust based on the height of the icon - default 30px */
        left: 0;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        padding: 20px;
    }
}



/* ----------------------------------------------------------------------------------------- */

